/* MadCap Table Style: */

/*<meta conditions="" Version="9" />*/

mcTableStyle
{
	name: PebbleHomePageSimple;
	border-collapse: collapse;
	max-id: 3;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	background-color: #f7f7f7;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Row1;
	id: 1;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-PebbleHomePageSimple
{
	border-collapse: collapse;
	background-color: #f7f7f7;
	border-spacing: 0px 0px;
}

.TableStyle-PebbleHomePageSimple-Column-Column1
{
	
}

.TableStyle-PebbleHomePageSimple-Head-Header1
{
	
}

.TableStyle-PebbleHomePageSimple-HeadI-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-PebbleHomePageSimple-HeadI-Column1-Header1 p
{
	
}

.TableStyle-PebbleHomePageSimple-HeadE-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-PebbleHomePageSimple-HeadE-Column1-Header1 p
{
	
}

.TableStyle-PebbleHomePageSimple-HeadF-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-PebbleHomePageSimple-HeadF-Column1-Header1 p
{
	
}

.TableStyle-PebbleHomePageSimple-HeadH-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-PebbleHomePageSimple-HeadH-Column1-Header1 p
{
	
}

.TableStyle-PebbleHomePageSimple-HeadD-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-PebbleHomePageSimple-HeadD-Column1-Header1 p
{
	
}

.TableStyle-PebbleHomePageSimple-HeadC-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-PebbleHomePageSimple-HeadC-Column1-Header1 p
{
	
}

.TableStyle-PebbleHomePageSimple-HeadB-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-PebbleHomePageSimple-HeadB-Column1-Header1 p
{
	
}

.TableStyle-PebbleHomePageSimple-HeadA-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-PebbleHomePageSimple-HeadA-Column1-Header1 p
{
	
}

.TableStyle-PebbleHomePageSimple-HeadG-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-PebbleHomePageSimple-HeadG-Column1-Header1 p
{
	
}

.TableStyle-PebbleHomePageSimple-Foot-Footer1
{
	
}

.TableStyle-PebbleHomePageSimple-FootI-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-PebbleHomePageSimple-FootI-Column1-Footer1 p
{
	
}

.TableStyle-PebbleHomePageSimple-FootE-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-PebbleHomePageSimple-FootE-Column1-Footer1 p
{
	
}

.TableStyle-PebbleHomePageSimple-FootF-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-PebbleHomePageSimple-FootF-Column1-Footer1 p
{
	
}

.TableStyle-PebbleHomePageSimple-FootH-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-PebbleHomePageSimple-FootH-Column1-Footer1 p
{
	
}

.TableStyle-PebbleHomePageSimple-FootD-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-PebbleHomePageSimple-FootD-Column1-Footer1 p
{
	
}

.TableStyle-PebbleHomePageSimple-FootC-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-PebbleHomePageSimple-FootC-Column1-Footer1 p
{
	
}

.TableStyle-PebbleHomePageSimple-FootB-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-PebbleHomePageSimple-FootB-Column1-Footer1 p
{
	
}

.TableStyle-PebbleHomePageSimple-FootA-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-PebbleHomePageSimple-FootA-Column1-Footer1 p
{
	
}

.TableStyle-PebbleHomePageSimple-FootG-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-PebbleHomePageSimple-FootG-Column1-Footer1 p
{
	
}

.TableStyle-PebbleHomePageSimple-Body-Row1
{
	
}

.TableStyle-PebbleHomePageSimple-BodyI-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-PebbleHomePageSimple-BodyI-Column1-Row1 p
{
	
}

.TableStyle-PebbleHomePageSimple-BodyE-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-PebbleHomePageSimple-BodyE-Column1-Row1 p
{
	
}

.TableStyle-PebbleHomePageSimple-BodyF-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-PebbleHomePageSimple-BodyF-Column1-Row1 p
{
	
}

.TableStyle-PebbleHomePageSimple-BodyH-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-PebbleHomePageSimple-BodyH-Column1-Row1 p
{
	
}

.TableStyle-PebbleHomePageSimple-BodyD-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-PebbleHomePageSimple-BodyD-Column1-Row1 p
{
	
}

.TableStyle-PebbleHomePageSimple-BodyC-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-PebbleHomePageSimple-BodyC-Column1-Row1 p
{
	
}

.TableStyle-PebbleHomePageSimple-BodyB-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-PebbleHomePageSimple-BodyB-Column1-Row1 p
{
	
}

.TableStyle-PebbleHomePageSimple-BodyA-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-PebbleHomePageSimple-BodyA-Column1-Row1 p
{
	
}

.TableStyle-PebbleHomePageSimple-BodyG-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-PebbleHomePageSimple-BodyG-Column1-Row1 p
{
	
}


